@font-face {
  font-family: "Neue June";
  src: url("../font/Matt Chansky - Neue June Regular.otf") format("opentype");
}
@font-face {
  font-family: "Neue Thin";
  src: url("../font/Matt Chansky - Neue June Light.otf") format("opentype");
}
@font-face {
  font-family: "Neue Bold";
  src: url("../font/Matt Chansky - Neue June Bold.otf") format("opentype");
}
header {
  grid-area: header;
}

.fondoHeader {
  background-color: #003E8E;
  padding: 50px 74px;
}

.navbar a {
  color: #FFFFFF;
  text-transform: uppercase;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  max-width: 256px;
}

#navbarNav {
  justify-content: flex-end;
}

.linkNav {
  font-family: "Neue June", sans-serif;
  font-size: 15px;
}
.linkNav:hover {
  color: #00C7F4;
}

.navbar-toggler {
  border: #FFFFFF solid 1px;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28239, 239, 239, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.img_chicas {
  width: 100vw;
}

.logoAzul {
  max-width: 490px;
}

.container_bienvenidos {
  padding: 100px 179px 100px 150px;
}
.container_bienvenidos .texto_bienvenidos {
  border-top: 1px solid #003E8E;
  border-bottom: 1px solid #003E8E;
  margin-top: 46px;
  padding: 46px 0;
}
.container_bienvenidos .texto_bienvenidos .bienvenidos {
  font-family: "Neue Thin", sans-serif;
  color: #003E8E;
  font-size: 60px;
  font-weight: 300;
}
.container_bienvenidos .texto_bienvenidos p {
  font-family: "Neue Thin", sans-serif;
  font-size: 20px;
  line-height: 170%;
}

.detalles span {
  font-family: "Neue Bold", sans-serif;
}
.detalles .lineaSeparadoraDetalles {
  border: 3px solid #003E8E;
  max-height: 3px;
  max-width: 106px;
}
.detalles .detalles1 {
  flex-direction: column;
  justify-content: center;
  padding-left: 84px;
  height: auto;
}
.detalles .detalles1 p {
  font-family: "Neue Thin", sans-serif;
  font-size: 22px;
  color: #003E8E;
  font-weight: 300;
  line-height: 35px;
  margin: 32px 54px 20px 0px;
}
.detalles .detalles1 h3 {
  font-family: "Neue Thin", sans-serif;
  color: #003E8E;
  font-size: 50px;
  font-weight: 300;
  margin: 40px 0px 54px 0px;
  width: 60%;
  line-height: 53px;
}
.detalles .detalles2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 84px;
  font-family: "Neue June", sans-serif;
  font-size: 22px;
  color: #003E8E;
  font-weight: 300;
  line-height: 35px;
  height: auto;
}
.detalles .detalles2 p {
  font-family: "Neue Thin", sans-serif;
  font-size: 22px;
  color: #003E8E;
  font-weight: 300;
  line-height: 35px;
  margin: 32px 54px 20px 0px;
}
.detalles .detalles2 h3 {
  font-family: "Neue Thin", sans-serif;
  font-size: 50px;
  font-weight: 300;
  margin: 40px 0px 54px 0px;
  width: 60%;
  line-height: 53px;
}
.detalles .detalles_fondo {
  background-color: #003E8E;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
.detalles .detalles_fondo img {
  width: 15vw;
}
.detalles .detalles_fondo2 {
  background-color: #00C7F4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
.detalles .detalles_fondo2 img {
  width: 17vw;
}

.obras_sociales {
  display: flex;
  justify-content: center;
}

.obras_sociales_mobile {
  display: none;
}

.seccion_servicios {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #003E8E;
  font-family: "Neue Thin", sans-serif;
}
.seccion_servicios span {
  font-family: "Neue Bold", sans-serif;
}
.seccion_servicios .titulo_servicios {
  font-size: 26px;
  font-family: "Neue Thin", sans-serif;
  width: 55%;
  text-align: center;
  margin: 0;
  margin-bottom: 65px;
}
.seccion_servicios .containerServicios {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.seccion_servicios .containerServicios div {
  width: 300px;
  height: 300px;
  border: 2px solid #003E8E;
  border-radius: 30px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.seccion_servicios .containerServicios div img {
  height: 100px;
}
.seccion_servicios .containerServicios div p {
  font-size: 20px;
  margin-top: 42px;
}
.seccion_servicios .containerServicios div .lineaSeparadoraServicios {
  border: 1px solid #003E8E;
  height: 1px;
  max-width: 85px;
  margin-top: 40px;
}

.seccion_contacto .bgazul_mail {
  width: 100%;
  height: 720px;
  background-image: url(../img/bgimagen.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}
.seccion_contacto .bgazul_mail p {
  font-size: 60px;
  color: #FFFFFF;
  font-weight: 300;
  margin-bottom: 50px;
}
.seccion_contacto .bgazul_mail p span {
  font-family: "Neue Bold", sans-serif;
}
.seccion_contacto .bgazul_mail button {
  font-size: 31px;
  border: 1px solid #FFFFFF;
  background: none;
  border-radius: 60px;
  padding: 30px 70px;
  cursor: pointer;
}
.seccion_contacto .bgazul_mail button a {
  text-decoration: none;
  color: #FFFFFF;
}
.seccion_contacto .qr_contacto {
  margin: 115px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion_contacto .qr_contacto .imagenQr {
  width: 218px;
}
.seccion_contacto .qr_contacto .datos_contacto {
  margin-left: 64px;
}
.seccion_contacto .qr_contacto .datos_contacto .logoAzulContacto {
  width: 500px;
}
.seccion_contacto .qr_contacto .datos_contacto .datosContacto {
  margin-top: 40px;
  border-left: 4px solid #003E8E;
  padding-left: 43px;
}
.seccion_contacto .qr_contacto .datos_contacto .datosContacto p {
  color: #003E8E;
  font-size: 29px;
  font-family: "Neue Thin", sans-serif;
  margin: 0;
  margin-bottom: 20px;
}

footer {
  background-color: #003E8E;
  text-align: center;
}
footer p {
  font-family: "Neue Thin", sans-serif;
  color: #FFFFFF;
  padding: 44px 0;
  margin: 0;
  font-size: 18px;
}
footer p span {
  font-family: "Neue Bold", sans-serif;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  font-size: 30px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

@media (max-width: 600px) {
  .linkNav {
    text-align: center;
  }
  .navbar-nav {
    padding-top: 6vh;
    padding-bottom: 0;
  }
  .fondoheader {
    padding-bottom: 0;
  }
  .centrar_logo {
    position: static;
    display: flex;
    justify-content: center;
  }
  .centrar_logo .logo {
    width: 126px;
  }
  .texto_bienvenidos {
    margin-top: 23px;
    padding: 23px 0;
  }
  .texto_bienvenidos .bienvenidos {
    font-size: 5000px;
  }
  .fondoHeader {
    background-color: #003E8E;
    padding: 25px 37px;
  }
  .container_bienvenidos {
    padding: 40px 40px 20px 40px;
    width: 100%;
  }
  .container_bienvenidos .logoAzul {
    width: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container_bienvenidos .texto_bienvenidos {
    padding: 20px 0px;
  }
  .container_bienvenidos .texto_bienvenidos p {
    font-size: 12px;
  }
  .container_bienvenidos .texto_bienvenidos .bienvenidos {
    font-size: 30px;
  }
  .detalles {
    padding: 20px 40px 20px 50px;
  }
  .detalles .detalles1 {
    width: 100vw;
    padding: 0px;
    justify-content: flex-start;
    height: auto;
  }
  .detalles .detalles1 h3 {
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .detalles .detalles1 p {
    font-size: 12px;
    margin: 16px 0px;
    line-height: 18.4px;
  }
  .detalles .detalles1 .lineaSeparadoraDetalles {
    border-width: 1.5px;
  }
  .detalles .detalles_fondo {
    width: 100vw;
    height: 200px;
  }
  .detalles .detalles2 {
    width: 100vw;
    padding: 0;
    height: auto;
  }
  .detalles .detalles2 h3 {
    display: inline;
    line-height: 30px;
    font-size: 20px;
    margin: 20px 0px;
  }
  .detalles .detalles2 p {
    font-size: 12px;
    margin: 16px 0px;
    line-height: 20px;
  }
  .detalles .detalles2 .lineaSeparadoraDetalles {
    border-width: 1.5px;
  }
  .detalles .detalles_fondo2 {
    width: 100%;
    height: 200px;
  }
  .obras_sociales {
    display: none;
  }
  .obras_sociales_mobile {
    display: flex;
    flex-direction: column;
  }
  .obras_sociales_mobile img {
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
  }
  .seccion_servicios .titulo_servicios {
    font-size: 20px;
    width: 80%;
    margin-bottom: 35px;
  }
  .seccion_servicios .containerServicios {
    flex-direction: column;
  }
  .seccion_contacto .bgazul_mail {
    height: 320px;
    margin-top: 50px;
  }
  .seccion_contacto .bgazul_mail p {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .seccion_contacto .bgazul_mail button {
    font-size: 20px;
    padding: 20px 35px;
  }
  .seccion_contacto .qr_contacto {
    margin: 40px 0;
  }
  .seccion_contacto .qr_contacto .imagenQr {
    width: 120px;
  }
  .seccion_contacto .qr_contacto .datos_contacto {
    margin-left: 20px;
  }
  .seccion_contacto .qr_contacto .datos_contacto .logoAzulContacto {
    width: 150px;
  }
  .seccion_contacto .qr_contacto .datos_contacto .datosContacto {
    margin-top: 20px;
    padding-left: 15px;
  }
  .seccion_contacto .qr_contacto .datos_contacto .datosContacto p {
    font-size: 12px;
    margin: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) and (min-width: 601px) {
  .linkNav {
    text-align: center;
  }
  .navbar-nav {
    padding-top: 6vh;
    padding-bottom: 0;
  }
  .fondoheader {
    padding-bottom: 0;
  }
  .logoAzul {
    max-width: 290px;
  }
  .container_bienvenidos {
    padding: 70px 120px 70px 95px;
  }
  .detalles {
    height: auto;
  }
  .detalles .detalles1 {
    height: auto;
  }
  .detalles .detalles1 h3 {
    font-size: 30px;
    line-height: 40px;
    margin: 20px 0px;
  }
  .detalles .detalles1 p {
    font-size: 15px;
    line-height: 25px;
  }
  .detalles .detalles2 {
    height: auto;
  }
  .detalles .detalles2 h3 {
    font-size: 30px;
    line-height: 40px;
    margin: 20px 0px;
  }
  .detalles .detalles2 p {
    font-size: 15px;
    line-height: 25px;
  }
  .seccion_servicios .containerServicios {
    display: flex;
    flex-direction: column;
  }
  .seccion_contacto .bgazul_mail {
    height: 320px;
    margin-top: 50px;
  }
  .seccion_contacto .bgazul_mail p {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .seccion_contacto .bgazul_mail button {
    font-size: 20px;
    padding: 20px 35px;
  }
  .seccion_contacto .qr_contacto {
    margin: 75px 0;
  }
  .seccion_contacto .qr_contacto .imagenQr {
    width: 218px;
  }
  .seccion_contacto .qr_contacto .datos_contacto {
    margin-left: 40px;
  }
  .seccion_contacto .qr_contacto .datos_contacto .logoAzulContacto {
    width: 300px;
  }
  .seccion_contacto .qr_contacto .datos_contacto .datosContacto {
    margin-top: 20px;
    padding-left: 25px;
  }
  .seccion_contacto .qr_contacto .datos_contacto .datosContacto p {
    font-size: 24px;
    margin: 0;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 24px;
    padding-left: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
