@media (max-width: 600px) {

    .linkNav {
        text-align: center;
    }

    .navbar-nav {
        padding-top: 6vh;
        padding-bottom: 0;
    }

    .fondoheader {
        padding-bottom: 0;


    }

    .centrar_logo {

        position: static;
        display: flex;
        justify-content: center;

        .logo {
            width: 126px;
        }
    }


    .texto_bienvenidos {
        margin-top: 23px;
        padding: 23px 0;

        .bienvenidos {
            font-size: 5000px;
        }
    }

    .fondoHeader {
        background-color: $bgColor1;
        padding: 25px 37px;
    }

    .container_bienvenidos {
        padding: 40px 40px 20px 40px;
        width: 100%;

        .logoAzul {
            width: 170px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .texto_bienvenidos {

            padding: 20px 0px;

            p {
                font-size: 12px;
            }

            .bienvenidos {
                font-size: 30px;
            }
        }

    }

    .detalles {
        padding: 20px 40px 20px 50px;


        .detalles1 {
            width: 100vw;
            padding: 0px;
            justify-content: flex-start;
            height: auto;

            h3 {
                line-height: 30px;
                font-size: 20px;
                margin-bottom: 20px;

            }

            p {
                font-size: 12px;
                margin: 16px 0px;
                line-height: 18.4px;
            }

            .lineaSeparadoraDetalles {
                border-width: 1.5px;
            }
        }

        .detalles_fondo {
            width: 100vw;
            height: 200px;
        }

        .detalles2 {
            width: 100vw;
            padding: 0;
            height: auto;

            h3 {
                display: inline;
                line-height: 30px;
                font-size: 20px;
                margin: 20px 0px;

            }

            p {
                font-size: 12px;
                margin: 16px 0px;
                line-height: 20px;
            }

            .lineaSeparadoraDetalles {
                border-width: 1.5px;
            }
        }

        .detalles_fondo2 {
            width: 100%;
            height: 200px;
        }
    }

    .obras_sociales {
        display: none;
    }
    
    .obras_sociales_mobile {
        display: flex;
        flex-direction: column;

        img {
            margin-left: auto;
            margin-right: auto;
            max-width: 360px;
        }
    }

    .seccion_servicios {

        .titulo_servicios {
            font-size: 20px;
            width: 80%;
            margin-bottom: 35px;
        }

        .containerServicios {
            flex-direction: column;
        }
    }
    
    .seccion_contacto {

        .bgazul_mail {
            height: 320px;
            margin-top: 50px;
    
            p {
                font-size: 30px;
                margin-bottom: 30px;
            }
    
            button {
                font-size: 20px;
                padding: 20px 35px;
            }
        }
    
        .qr_contacto {
            margin: 40px 0;
    
            .imagenQr {
                width: 120px;
            }
    
            .datos_contacto {
                margin-left: 20px;
    
                .logoAzulContacto {
                    width: 150px;
                }
    
                .datosContacto {
                    margin-top: 20px;
                    padding-left: 15px;
    
                    p {
                        font-size: 12px;
                        margin: 0;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

}

@media (max-width: 991px) and (min-width: 601px) {
    .linkNav {
        text-align: center;
    }

    .navbar-nav {
        padding-top: 6vh;
        padding-bottom: 0;
    }

    .fondoheader {
        padding-bottom: 0;
    }

    .logoAzul {
        max-width: 290px;
    }

    .container_bienvenidos {
        padding: 70px 120px 70px 95px;
    }

    .detalles {

        height: auto;

        .detalles1 {

            height: auto;

            h3 {
                font-size: 30px;
                line-height: 40px;
                margin: 20px 0px;
            }

            p {
                font-size: 15px;
                line-height: 25px;
            }
        }

        .detalles2 {
            height: auto;

            h3 {
                font-size: 30px;
                line-height: 40px;
                margin: 20px 0px;
            }

            p {
                font-size: 15px;
                line-height: 25px;
            }
        }
    }

    .seccion_servicios {

        .containerServicios {
            display: flex;
            flex-direction: column;
        }
    }

    .seccion_contacto {

        .bgazul_mail {
            height: 320px;
            margin-top: 50px;
    
            p {
                font-size: 30px;
                margin-bottom: 30px;
            }
    
            button {
                font-size: 20px;
                padding: 22px 35px;
            }
        }
    
        .qr_contacto {
            margin: 75px 0;
    
            .imagenQr {
                width: 218px;
            }
    
            .datos_contacto {
                margin-left: 40px;
    
                .logoAzulContacto {
                    width: 300px;
                }
    
                .datosContacto {
                    margin-top: 20px;
                    padding-left: 25px;
    
                    p {
                        font-size: 24px;
                        margin: 0;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 24px;
        padding-left: 24px;
    }

}