@font-face {
    font-family: 'Neue June';
    src: url('../font/Matt\ Chansky\ -\ Neue\ June\ Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Neue Thin';
    src: url('../font/Matt\ Chansky\ -\ Neue\ June\ Light.otf') format('opentype');
}

@font-face {
    font-family: 'Neue Bold';
    src: url('../font/Matt\ Chansky\ -\ Neue\ June\ Bold.otf') format('opentype');
}