@import "variables", "fonts";

header {
    grid-area: header;
}

.fondoHeader {
    background-color: $bgColor1;
    padding: 50px 74px;
}

.navbar {
    a {
        color: $color2;
        text-transform: uppercase;
    }
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    max-width: 256px;
}

#navbarNav {
    justify-content: flex-end;
}

.linkNav {
    font-family: 'Neue June', sans-serif;
    font-size: 15px;

    &:hover {
        color: $bgColor3;
    }
}

.navbar-toggler {
    border: $color2 solid 1px;

    &:focus {
        box-shadow: none;
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28239, 239, 239, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.img_chicas {
    width: 100vw;
}

.logoAzul {
    max-width: 490px;
}

.container_bienvenidos {
    padding: 100px 179px 100px 150px;

    .texto_bienvenidos {
        border-top: 1px solid $color1;
        border-bottom: 1px solid $color1;
        margin-top: 46px;
        padding: 46px 0;

        .bienvenidos {
            font-family: 'Neue Thin', sans-serif;
            color: $color1;
            font-size: 60px;
            font-weight: 300;
        }

        p {
            font-family: 'Neue Thin', sans-serif;
            color: $color1;
            font-size: 20px;
            line-height: 170%;
        }
    }
}

.detalles {

    margin: 0;

    span {
        font-family: 'Neue Bold', sans-serif;
    }

    .lineaSeparadoraDetalles {
        border: 3px solid $color1;
        max-height: 3px;
        max-width: 106px;
    }

    .detalles1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: middle;
        padding-left: 95px;
        height: 560px;

        p {
            font-family: 'Neue Thin', sans-serif;
            font-size: 22px;
            color: $color1;
            font-weight: 300;
            line-height: 35px;
            margin: 22px 54px 22px 0px;
        }

        h3 {
            font-family: 'Neue Thin', sans-serif;
            color: $color1;
            font-size: 50px;
            font-weight: 300;
            margin-bottom: 54px;
            width: 70%;
            line-height: 53px;
        }

    }

    .detalles2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 84px;
        font-family: 'Neue June', sans-serif;
        font-size: 22px;
        color: $color1;
        font-weight: 300;
        line-height: 35px;
        height: 560px;

        p {
            font-family: 'Neue Thin', sans-serif;
            font-size: 22px;
            color: $color1;
            font-weight: 300;
            line-height: 35px;
            margin: 22px 54px 22px 0px;
        }

        h3 {
            font-family: 'Neue Thin', sans-serif;
            font-size: 50px;
            font-weight: 300;
            margin: 40px 0px 54px 0px;
            width: 60%;
            line-height: 53px;
        }
    }

    .detalles_fondo {
        background-color: $bgColor1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;

        img {
            width: 220px;
        }
    }

    .detalles_fondo2 {
        background-color: $bgColor3;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;

        img {
            width: 220px;
        }
    }
}

.obras_sociales {
    display: flex;
    justify-content: center;
}

.obras_sociales_mobile {
    display: none;
}

.seccion_servicios {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $color1;
    font-family: 'Neue Thin', sans-serif;

    span {
        font-family: 'Neue Bold', sans-serif;
    }

    .titulo_servicios {
        font-size: 26px;
        font-family: 'Neue Thin', sans-serif;
        width: 55%;
        text-align: center;
        margin: 0;
        margin-bottom: 65px;
        line-height: 1.15;
    }

    .containerServicios {

        display: flex;
        align-items: center;
        justify-content: space-between;

        div {

            width: 300px;
            height: 300px;
            border: 2px solid $color1;
            border-radius: 30px;
            margin: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            img {
                height: 100px;
            }

            p {
                font-size: 20px;
                margin-top: 42px;
            }

            .lineaSeparadoraServicios {
                border: 1px solid $color1;
                height: 1px;
                max-width: 85px;
                margin-top: 40px;
            }
        }


    }

}

.seccion_contacto {

    .bgazul_mail {
        width: 100%;
        height: 720px;
        background-image: url(../img/bgimagen.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 150px;
        font-family: 'Neue Thin', sans-serif;
        line-height: 1.15;
        
        p {
            font-size: 60px;
            font-family: 'Neue Thin', sans-serif;
            color: $color2;
            font-weight: 300;
            margin: 50px 0 45px 0;

            span {
                font-family: 'Neue Bold', sans-serif;
            }
        }

        button {
            font-size: 31px;
            border: 1px solid $color2;
            background: none;
            border-radius: 60px;
            padding: 30px 70px;
            cursor: pointer;

            a {
                text-decoration: none;
                color: $color2;
            }
        }
    }

    .qr_contacto {
        margin: 115px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.15;

        .imagenQr {
            width: 218px;
        }

        .datos_contacto {
            margin-left: 64px;

            .logoAzulContacto {
                width: 500px;
            }

            .datosContacto {
                margin-top: 40px;
                border-left: 4px solid $color1;
                padding-left: 43px;

                p {
                    color: $color1;
                    font-size: 29px;
                    font-family: 'Neue Thin', sans-serif;
                    margin: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }

}

footer {
    background-color: $bgColor1;
    text-align: center;

    p {
        font-family: 'Neue Thin', sans-serif;
        color: $color2;
        padding: 44px 0;
        margin: 0;
        font-size: 18px;

        span {
            font-family: 'Neue Bold', sans-serif;
        }
    }
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    font-size: 30px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

@import "medias";